version: "3.9"

services:
  backend:
    build: ./backend
    container_name: my-backend
    ports:
      - "3001:3000"
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASS: root
      DB_NAME: ecommerce
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: my-frontend
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_BACKEND_URL: http://localhost:3001

  db:
    image: mysql:8.0
    container_name: my-db
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ecommerce
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
