name: pipeline

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get Source Code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: 'npm'

      - name: Install Backend Dependencies
        run: npm --prefix backend install

      - name: Install Frontend Dependencies
        run: npm --prefix frontend install
      - name: Build Frontend
        run: npm --prefix frontend run build
      - name: Upload Frontend Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: frontend/build