name: pipeline

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get Source Code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: 'npm'

      - name: Install Backend Dependencies
        run: npm --prefix backend install

      - name: Install Frontend Dependencies
        run: |
          cd frontend
          npm install
      - name: Build Frontend
        working-directory: frontend
        run: |
          cd frontend
          npm run build
      - name: Create artifact directory (optional, for clarity)
        run: |
          mkdir -p nextjs-artifact
          cp -r frontend/.next frontend/package.json frontend/next.config.js frontend/node_modules nextjs-artifact/
          # Copy necessary files for a standalone deployment. For static export use "out" folder.

      - name: Upload Frontend Build
        uses: actions/upload-artifact@v4
        with:
         name: nextjs-build-artifact
         path: nextjs-artifact/

  test:
   needs: build
   runs-on: ubuntu-latest
   steps:
    - name: Run App tests
      run: echo "Tests go here"

  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
     - name: Deploy App Frontend
       run: echo "Deploy Frontend here"