name: Release-Please

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      backend--release_created: ${{ steps.release.outputs.backend--release_created }}
      backend--version: ${{ steps.release.outputs.backend--version }}
      frontend--release_created: ${{ steps.release.outputs.frontend--release_created }}
      frontend--version: ${{ steps.release.outputs.frontend--version }}

    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json

  # ====================================================
  # BACKEND
  # ====================================================
  build-push-backend:
    needs: release-please
    if: ${{ needs.release-please.outputs.backend--release_created }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and Push Backend
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: |
            ${{ secrets.AWS_ECR_REGISTRY }}/cloudnativeapp-backend-repo:${{ needs.release-please.outputs.backend--version }}
            ${{ secrets.AWS_ECR_REGISTRY }}/cloudnativeapp-backend-repo:latest

  # ====================================================
  # FRONTEND
  # ====================================================
  build-push-frontend:
    needs: release-please
    if: ${{ needs.release-please.outputs.frontend--release_created }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and Push Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          # Valor temporário até termos o App Runner de pé
          build-args: |
             NEXT_PUBLIC_API_URL=http://localhost:3000
          tags: |
            ${{ secrets.AWS_ECR_REGISTRY }}/cloudnativeapp-frontend-repo:${{ needs.release-please.outputs.frontend--version }}
            ${{ secrets.AWS_ECR_REGISTRY }}/cloudnativeapp-frontend-repo:latest